<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>proj-html-vuejs</title>
    <!-- link css -->
    <link rel="stylesheet" href="dist/app.css">
    <!-- CDN vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- fontAwesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <div id="app">
        <header>
            <nav class="mycontainer">
                <!-- LOGO -->
                <div>
                    <img class="logo-resize" src="public/img/logo-light.png" alt="">
                </div>


                <!-- lista e searchbar -->
                <ul>
                    <li v-for="el in navabarLink"><a :href="el.link" v-if="el.link"> {{ el.text }} </a></li>
                </ul>
            </nav>

            <div class="herofirst" style="text-align: center;">
                <h1>Contemporary Ideas</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. P Libero similique soluta enim at ullam
                    deleniti quaerat optio obcaecati. <br> Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Reprehenderit, odit? Fugit tenetur illo ducimus.</p>
                <button><a href="#"><strong>REGISTER NOW</strong> </a></button>
                <ul class="flex-center">
                    <li class="circle"></li>
                    <li class="circle"></li>
                    <li class="circle"></li>

                </ul>
            </div>


        </header>

        <main>
            <!-- INDIVIDUO 9 SEZIONI NEL MAIN -->
            <section class="mycontainer">
                <ul class="first-section flex-center">
                    <li><img src="public/img/h5-custom-icon-1.png" alt="">
                        <p><strong>Languages</strong> </p>
                    </li>
                    <li><img src="public/img/h5-custom-icon-2.png" alt="">
                        <p><strong>Software</strong> </p>
                    </li>
                    <li><img src="public/img/h5-custom-icon-3.png" alt="">
                        <p><strong>Business</strong> </p>
                    </li>
                    <li><img src="public/img/h5-custom-icon-4.png" alt="">
                        <p><strong>Chemistry</strong> </p>
                    </li>
                    <li><img src="public/img/h5-custom-icon-5.png" alt="">
                        <p><strong>Science</strong> </p>
                    </li>
                    <li><img src="public/img/h5-custom-icon-6.png" alt="">
                        <p><strong>DIY&Craft</strong> </p>
                    </li>

                </ul>
            </section>
            <section class="mycontainer second-section">
                <h1>
                    The Trusted Name <br> for In-Home Tutoring.

                </h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, animi cupiditate neque, deleniti nam fugiat harum nemo ullam dolor soluta quidem facere sit impedit, veritatis modi? Esse vitae voluptatem nihil!
                </p>
                <a href="#"> <strong>LEARN MORE</strong> </a>
            </section>
            <section >
                <div class="relative flex-center" >
                    <img class="" src="public/img/h5-img-1.jpg" alt="">
                    <button class="button-absolute"> <strong><p> ^ </p> TOP</strong> </button>
                </div>
                
                
            </section>
            <section class="d-flex">
                <div>
                    <img src="" alt="">
                </div>
                <div>

                </div>

            </section>
            <section></section>
            <section></section>
            <section></section>
            <section></section>
            <section></section>



        </main>

        <footer>



        </footer>






    </div>
    <script src="myscript.js"></script>
</body>

</html>