<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>proj-html-vuejs</title>
    <!-- link css -->
    <link rel="stylesheet" href="dist/app.css">
    <!-- CDN vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.js"></script>
    <!-- fontAwesome-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <div id="app">
        <header>
            <nav class="mycontainer d-flex">
                <!-- LOGO -->
                <div >
                    <img class="logo-resize" src="public/img/logo-light.png" alt="">
                </div>


                <!-- lista e searchbar -->
                <ul class="d-flex">
                    <li v-for="el in navbarLink"><a :href="el.link" v-if="el.link"> {{ el.text }} </a>
                        <!-- SEARCHBAR  -->
                        <span v-if="el.icon">
                            <i class="fas" :class="el.icon"></i>
                            <!-- DROPDOWN -->
                            <div class="dropdown" v-if="el.childs">
                                <ul>
                                    <li v-for="child in el.childs">
                                        <a :href="child.link" v-if="child.link">
                                            {{ el.text }}
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </span>
                    
                    
                    </li>
                </ul>
            </nav>

            <div class="herofirst" style="text-align: center;">
                <h1>Contemporary Ideas</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. P Libero similique soluta enim at ullam
                    deleniti quaerat optio obcaecati. <br> Lorem ipsum dolor sit, amet consectetur adipisicing elit.
                    Reprehenderit, odit? Fugit tenetur illo ducimus.</p>
                <button><a href="#"><strong>REGISTER NOW</strong> </a></button>
                <ul class="flex-center">
                    <li class="circle"></li>
                    <li class="circle"></li>
                    <li class="circle"></li>

                </ul>
            </div>


        </header>

        <main>
            <!-- INDIVIDUO 9 SEZIONI NEL MAIN -->
            <section class="mycontainer">
                <ul class="first-section flex-center">
                    <li class="cards" ><img src="public/img/h5-custom-icon-1.png" alt="">
                        <p><strong>Languages</strong> </p>
                    </li class="cards">
                    <li class="cards"><img src="public/img/h5-custom-icon-2.png" alt="">
                        <p><strong>Software</strong> </p>
                    </li>
                    <li class="cards"><img src="public/img/h5-custom-icon-3.png" alt="">
                        <p><strong>Business</strong> </p>
                    </li>
                    <li class="cards"><img src="public/img/h5-custom-icon-4.png" alt="">
                        <p><strong>Chemistry</strong> </p>
                    </li>
                    <li class="cards"><img src="public/img/h5-custom-icon-5.png" alt="">
                        <p><strong>Science</strong> </p>
                    </li>
                    <li class="cards"><img src="public/img/h5-custom-icon-6.png" alt="">
                        <p><strong>DIY&Craft</strong> </p>
                    </li>

                </ul>
            </section>
            <section class="mycontainer second-section">
                <h1>
                    The Trusted Name <br> for In-Home Tutoring.

                </h1>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident, animi cupiditate neque, deleniti
                    nam fugiat harum nemo ullam dolor soluta quidem facere sit impedit, veritatis modi? Esse vitae
                    voluptatem nihil!
                </p>
                <a href="#"> <strong>LEARN MORE</strong> </a>
            </section>
            <section>
                <div class="relative flex-center">
                    <img class="" src="public/img/h5-img-1.jpg" alt="">
                    <!-- <button class="button-absolute"> <strong>
                            <p> ^ </p> TOP
                        </strong> </button> -->
                </div>


            </section>
            <section class="flex-center section-fourth mycontainer">
                <div>
                    <img class="img-resize1 d-flex" src="public/img/h5-img-2.jpg" alt="">
                </div>
                <div class="rightside ">
                    

                        <h1>Empowering <br> Children to Reach <br> Their Potential. </h1>
                        <p class="color-g">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, harum fuga,
                            autem doloremque officiis enim repellat iusto itaque voluptatum molestiae voluptatibus
                            deleniti recusandae. Dicta quidem velit dignissimos fugiat possimus voluptates.</p>
                        <div class="d-flex righstside2">
                            <div><strong>168</strong> <br>
                                <p>User Stories </p>
                            </div>
                            <div><strong>347</strong>
                                <p>Events </p>
                            </div>
                        </div>
                    

                    <!-- <button class="button-absolute2"> <strong>
                            <p> ^ </p> TOP
                        </strong> </button> -->
                </div>


            </section>
            <section class="section-fifth relative">
                <div style="text-align: center; " class="mysecondcontainer">
                    <div>
                        <img style="padding-top:90px; padding-bottom:50px" src="public/img/testimonials-standard-2.png"
                            alt="">
                    </div>

                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Placeat inventore optio ipsam molestias
                        magnam minima necessitatibus beatae pariatur impedit veniam at, illum illo? Consequatur
                        dignissimos enim sunt architecto iusto ab. Lorem ipsum dolor sit amet consectetur adipisicing
                        elit. Labore dicta voluptatum est nulla beatae distinctio explicabo ex facilis laudantium. </p>
                    <h2>
                        Joan Collins
                    </h2>
                    <p><strong>STUDENT</strong> </p>
                    <ul class="flex-center">
                        <li class="circle"></li>
                        <li class="circle"></li>
                        <li class="circle"></li>

                    </ul>

                </div>
                <!-- <button class="button-absolute3"> <strong>
                        <p> ^ </p> TOP
                    </strong> </button> -->
            </section>
            <section class="flex-between section-sixth mycontainer relative">
                <div>
                    <ul class="firstlist">
                        <li><h4>What We Do</h4></li>
                        <li><h4>Degree Programme</h4></li>
                        <li><h4>Career Achievements</h4></li>
                        <li><h4>Personal Management</h4></li>
                        <li><h4>Steps To Success</h4></li>
                        <li><h4>Knowledge Transfer</h4></li>
                    </ul>
                </div>
                <div >
                    <h1>Learning Possibilities</h1>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, beatae quos. Ullam quae quis eaque excepturi laborum libero error exercitationem voluptates corrupti laboriosam. Quos quia unde porro voluptate non id Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam laudantium itaque temporibus eius consectetur suscipit quidem unde, quas, cupiditate quae ea facilis aliquid eligendi est! Quia doloribus a labore vero.</p>
                    <ul>
                        <li><i class="fas fa-check"></i>We enrich lives through learning.</li>
                        <li><i class="fas fa-check"></i>Maximizing potential through individual attention. </li>
                        <li><i class="fas fa-check"></i>The trusted name for specialized training.</li>
                        <li><i class="fas fa-check"></i>People teach. Polple learn. This is where they connect. </li>
                    </ul>
                    
                </div>
                <div style="position: absolute; bottom: 120px;right: 150px;">
                    <img src="public/img/h12-tabs-icon-1.png" alt="">
                </div>
            </section>
            <hr>
            <section class="mycontainer section-eight">
                <div class="center cardtitle1 mysecondcontainer">
                    <h1>
                        Popular online courses
                    </h1>
                    <p> Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam odit consectetur fugit exercitationem, nam accusantium est ut excepturi magnam, ipsum omnis neque laborum natus, repudiandae corporis minima quaerat et ex!</p>
                </div>
                <div>
                    <div class="d-flex">
                        <div class="box">
                            <img class="img-size" src="public/img/course-5-f-img.jpg" alt="">
                            <h2>
                                Android Developer  <button class="button1">FREE </button>
                            </h2>
                            <p class="firstp">David sanders </p>
                            <p class="secondp">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi dignissimos temporibus pariatur facilis. Dolore vero excepturi doloribus iusto saepe, accusantium voluptates iure voluptatum. Aperiam voluptas in ad, ipsam neque quae.
                            </p>
                            <div class="d-flex"style="padding-top:40px;color:lightgray">
                                <i class="fas fa-user"> 1</i>
                                <i class="fas fa-tag" style="padding-left: 20px;padding-right: 20px; "></i>
                                    PROGRAMMING
                            </div>
                        </div>
                        <div class="box">
                            <img class="img-size" src="public/img/course-6-f-img.jpg" alt="">
                            <h2>
                                Web Designing  <button class="button1">FREE </button>
                            </h2>
                            <p class="firstp">Jennifer Powell </p>
                            <p class="secondp">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi dignissimos temporibus pariatur facilis. Dolore vero excepturi doloribus iusto saepe, accusantium voluptates iure voluptatum. Aperiam voluptas in ad, ipsam neque quae.
                            </p>
                            <div class="d-flex"style="padding-top:40px;color:lightgray">
                                <i class="fas fa-user"> 1</i>
                                <i class="fas fa-tag" style="padding-left: 20px;padding-right: 20px; "></i>
                                    PROGRAMMING
                            </div>
                        </div>
                        <div class="box">
                            <img class="img-size" src="public/img/blog-post-2.jpg" alt="">
                            <h2>
                                Financial Modeling  <button class="button2" >$20</button>
                            </h2>
                            <p class="firstp">Edward Bowman</p>
                            <p class="secondp">
                                Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi dignissimos temporibus pariatur facilis. Dolore vero excepturi doloribus iusto saepe, accusantium voluptates iure voluptatum. Aperiam voluptas in ad, ipsam neque quae.
                            </p>
                            <div class="d-flex"style="padding-top:40px;color:lightgray">
                                <i class="fas fa-user"> 1</i>
                                <i class="fas fa-tag" style="padding-left: 20px;padding-right: 20px; "></i>
                                   BUSINESS
                            </div>
                        </div>
                    </div>
                    <div>
                        <ul class="flex-center">
                            <li class="circle2"></li>
                            <li class="circle2"></li>
                            <li class="circle2"></li>
        
                        </ul>
                    </div>
                </div>
            </section>
            <hr>
            <section></section>
            <section>
                <div class="flex-between mycontainer">
                    <img src="public/img/h5-client-5.png" alt="">
                    <img src="public/img/h5-client-1.png" alt="">
                    <img src="public/img/h5-client-2-h.png" alt="">
                    <img src="public/img/h5-client-1.png" alt="">

                </div>
            </section>



        </main>

        <footer>



        </footer>






    </div>
    <script src="myscript.js"></script>
</body>

</html>