button{
    background-color: $first_color;
    padding:8px;
    border: none;
    margin-bottom: 15px;
    color: white;
}
.button-absolute{
    position: absolute;
    right:0;
    top:50%;
    
    p{
        font-size:15px;
    }
}
.button-absolute2{
    position: absolute;
    right:0;
    bottom:-5;
    
    p{
        font-size:15px;
    }
}
.button-absolute3{
    position: absolute;
    right:0;
    bottom: -80px;
    
    p{
        font-size:15px;
        line-height: inherit;
    }
}
.button1{
    background-color:$yellow;
    margin-left:120px;
    border-radius: 15px;
    padding:10px;
    padding-left:10px;
    padding-right: 10px;
}
.button2{
    background-color:$first_color;
    margin-left:120px;
    border-radius: 15px;
    padding:10px;
    padding-left:20px;
    padding-right: 20px;
    
}