button{
    background-color: $first_color;
    padding:10px;
    border: none;
    margin-bottom: 15px;
    color: white;
}
.button-absolute{
    position: absolute;
    right:0;
    top:50%;
    
    p{
        font-size:18px;
    }
}