*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}

.logo-resize{
    width:80px;
    height:80px;
    object-fit: contain;
}

.center{
    text-align: center;
}
.mycontainer{
    max-width:1200px ;
    margin: auto;
    width: 100%;
}
.mysecondcontainer{
    max-width:920px ;
    margin: auto;
    width: 100%;
}
section{
    padding-top:$spacing * 3;
    padding-bottom:$spacing * 3;
}
.d-flex{
    display: flex;
}
.flex-center{
    @include list_horizontal;
}
.flex-between{
    @include list_between;
}
h1{
    font-size:50px
}