header{
    border: 1px solid black;
    background-image: url(../../public/img/h5-slide-3-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    nav{
        padding-bottom:100px;
        padding-top: 10px;
        ul{
            line-height: 70px;
            vertical-align: middle;
        }
        li{
            list-style: none;
            color:white;
            padding:15px 20px;
            &:hover{
                color: $first_color;
            }
        }
    }
    
    a{
       
        color: inherit;
        text-decoration: none;
    }
    
    .logo-resize{
        width:170px;
        height:90px;
        margin-right: 150px;;
    }
    .herofirst{
        .circle{
            list-style: none;
            width: 15px;
            height:15px;
            border-radius: 50%;
            background-color: $text_color_g;
            margin-bottom: 20px;
            margin-right: 15px;
            &:hover{
               
                background-color: $text_color_w;
                
                
            }
        }
        a{
            text-decoration: none;
            color: inherit;
        }
        h1{
            font-size:80px;
            padding-bottom:50px;
        }
        h1,p{
            padding-top:15px;  
            color: $text_color_w;
            line-height: 30px;
        }
        p{
            padding-bottom: $spacing*2;
        }
        button{
            
            padding:20px;
            margin-bottom:$spacing*7;
        }
    }
} 
