header{
    border: 1px solid black;
    nav{
        padding-bottom:100px;
    }
    li{
        list-style: none;
    }
    
    .logo-resize{
        width:170px;
        height:70px;
    }
    .herofirst{
        h1,p{
             padding-top:15px;
             
        }
       
    }
} 
