.img-resize1{
    height:400px;
   
}
.img-size{
    height:300px ;
    width:400px;
}
.box{
    padding:15px 15px
}
.section-eight{
    background-image: url(../../public/img/page-background-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}