.img-resize1{
    height:400px;
   
}
.img-size{
    height:300px ;
    width:400px;
}
.box{
    padding:15px 15px
}
.section-eight, .secondlast-section{
    background-image: url(../../public/img/page-background-img.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.img-absolute{
    position: absolute;
    right: 0;
    top:400px;
    object-fit: contain;
    width:50px;
    height:50px;
}
.img-absolute2{
    position: absolute;
    right: 0;
    top:470px;
    object-fit: contain;
    width:50px;
    height:50px;
    border:1px solid $text_color_g;
    box-shadow:2px 2px 2px 2px $text_color_g ;
    padding:15px;
}
.footer-size{
    object-fit: contain;
    width: 150px;
}
.footer-size2{
   width: 300px;
}