// VARIABILI




// COLORI
$first_color:#40C4FF;
$text_color_w:#FFFFFF;
$text_color_g:#CECECE;
$yellow:#FFD740;
$lightblue:#9CE0FF;
$lightgray:#0707020a;
$gray:#30303066;
$border_light:#D6F2FF;
$border_azul:#40C4FF;
$footer-color:#3E3E3E;
$back-color:#d6f2ffa4;
// $color_grey:


// SPAZIATURE
$spacing:20px;


// FONTSIZE
$font_size_small:11px;